# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- GitHub
- GitLab
- Bitbucket
- JupyterLab
- AzureDevOps
- Codeberg
- Visual Studio
- AWS CodeCommit

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. SciPy
3. Pandas

Data Science Tools
1. Jupyter Labs
2. R - ggplot, dplyr, & tidyr
3. Python - Pandas, NumPy, & Matplotlib

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60.
hours = 200 / 60
print(hours) # Output: 3.3333333333333335

3.3333333333333335

Author
## Michael Whitmer